body {

background-color: #D3D3D3;
font-family: Verdana;

} 

h1 {
	font-size: 2.5em;
	text-align: center;
}

.container {
background-color: #3d4543;
height: 440px;
width: 420px;
border-radius: 10px;
position: relative;
top: 20px;
margin-left: auto;
margin-right: auto;
border: solid white 3px;

}

.display {

margin-right: auto;
margin-left: auto;
padding-left: 25px;
padding-right: 25px;
border-radius: 10px;
border: solid black 3px;

}

.row1, .row2, .row3 {
	padding-left: 20%;
}

 .row4 {
	padding-left: 27%;
}

 .row5 {
	padding-left: 24%;
}

button {

height: 60px;
width: 60px;
border-radius: 10px;
font-size: 1.5em;
font-weight: bold;
margin: 5px;
background-color: #778899;
font-size: 1.5em;
font-weight: bold;
border: 3px;
margin-right: auto;
margin-left: auto;
margin-top: 10px;
padding: 10px;
border-radius: 10px;
border: solid black 3px;
	
}

#box1 {

font-size: 1.5em;
background-color: 244,244,244;
text-align: center;
height: 45px;
width: 135px;
margin: 5px;
border: solid red 3px;
border-radius: 10px;

}

#operator {

font-size: 1.5em;
background-color: 244,244,244;
text-align: center;
height: 45px;
width: 45px;
margin: 5px;
border: solid red 3px;
border-radius: 10px;

}

#box2 {
font-size: 1.5em;
background-color: 244,244,244;
text-align: center;
height: 45px;
width: 135px;
margin: 5px;
border: solid red 3px;
border-radius: 10px;
}


button#btnEqual {
background-color: #cd5c5c;
margin: 10px;
height: 60px;
width: 200px;
}
 