.navbar-inverse {
	.navbar-brand {
		background-color: rgb(200, 10, 72);
		color: white;
		font-weight: bold;
	}
}
img {
	float: right;
}

.site-wrapper {
	margin-top: 40px;
	height: 100%;
}

.btn-primary{
	margin: 5px 0 0 0;
}

#error {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container {
	color: black;
}

.well {
	background-color: #B2B2B2;
}

#summary_name {
	color: #fefefe;
}

#blog_post_title {	
	padding-bottom: 10px;
	color: #fefefe;
}

#wmd-button-bar{
    margin: 10px;
}

#wmd-button-bar{
	#wmd-button-row{
		.btn-group{
			.btn{
			    margin: 5px;
			    border-radius: 5px;
			    border: solid;
			    border-style: outset;
			}
		}
	}
}

#summary_name {
	text-align: center;
}

#professional_summary {
	font-family: Raleway, sans-serif;
	text-align: center;
	margin: 15px;
	font-weight: bold;
}

/* css on portfolio*/
.item_box {
	border: solid white 5px;
	border-style: outset;
	background-color: #707070;
	height: 250px;
	color: white;
	margin: 15px;
	h2 {
		padding-top: 10px;
	}
	img {
		padding-top: 10px
	}
}

/* css on professional summary*/

ul {

	.summary_info {

		margin: 10px;
	}
}

