img {
	float: right;
}

.site-wrapper {
	margin-top: 40px;
	height: 100%;
}

.btn-primary{
	margin: 5px 0 0 0;
}

#error {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#summary_name{
	margin-left: 200px;
}