body {
	font-family: Helvetica, Arial, sans-serif;
}

aside {
	float: left;
	border-radius: 20%;
	background-color: #D1D1E0;
	border: black solid 5px;
	width: 400px;
	height: 350px;
	position: relative;
	font-size: 18px;
	font-weight: bold;
}

button {

	height: 75px;
	width: 75px;
	border-radius: 25%;
	font-size: 18px;
	font-weight: bolder;
	padding-top: 0px;
	margin-right: 20px;
	margin-top: 25px;
	background-color: #66ff66;
	position: relative;
	float: right;
}

label {
	font-size: 12px;
	margin-left: 10px;
	position: relative;
}

#difficulty_selector {
	margin-top: 20px;
}

#slider {
	width: 200px;
	margin-top: 20px;
	margin-left: 15px;
}

#score_title {
	margin-left: 10px;
}

#score {
	width: 200px;
	height: 75px;
	font-size: 35px;
	background-color: #383838;
	color: red;
	text-align: center;
	margin: 25px 10px 0px 25px;
	border: 5px solid #010101;
	border-radius: 25%;
	position: relative;
}

#highscore_title {
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
}

#highscore {
	width: 200px;
	height: 75px;
	font-size: 35px;
	background-color: #383838;
	color: red;
	text-align: center;
	margin: 25px 10px 0px 25px;
	border: 5px solid #010101;
	border-radius: 25%;
	position: relative;
}

#console {
	width: 570px;
	height: 575px;
	background-color: #A3C8EC;
	margin: auto;
	padding-top: 25px;
	border-radius: 20%;
	border: solid black 5px;
	position: relative;
	float: left;
}

.container {
	width: 500px;
	height: 500px;
	margin: auto;
	margin-top: 25px;
	background-color: #A3C8EC;
	position: relative;
}

.box {
	width: 150px;
	height: 150px;
	border: outset 5px;
	margin: 3px;
	border-radius: 10%;
	background-color: white;
	float: left;
	position: relative;
	cursor: no-drop;
	background-image: url('/img/green_bell.jpg');
}

.active {
	
	background-image: url('/img/red_bell.jpg');
	cursor: crosshair;
}